* {
  margin: 0;
  padding: 0;
}

.record__container {
  background: url('img/daily.jpg') 50% no-repeat;
  background-size: cover;
  padding: 30px;
}

.record__quiz {
  background: #D9D9D9;
  margin: 0px 0px 30px 50px;
  padding: 10px;
  border-radius: 20px;
  width: 80%;
  
}

.record__confetti {
  width: 95%;
}

.record__title {
  text-align: center;
  color: whitesmoke;
  padding-bottom: 40px;
}

.record__new {
  color: whitesmoke;
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 16px;
  padding: 0px 0px 20px 50px;
}

.record__input__title {
  margin: 0px 40px 50px 50px;
  border-radius: 15px;
  padding: 6px 40px 6px 8px;
  width: 10%;
  height: 30px;
  border: none;
  background: #D9D9D9;
}

.record__input__text {
  margin: 0px 40px 50px 10px;
  border-radius: 15px;
  padding: 6px 40px 6px 8px;
  border: none;
  width: 20%;
  height: 30px;
  background: #D9D9D9;
}

.record__button {
  padding: 13px 15px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  background: #D9D9D9;
}

.records__subtext {
  padding: 0px 0px 20px 50px;
  color: whitesmoke;
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 16px;
}
